---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl">Protected</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi laudantium totam molestiae sit dicta debitis deleniti voluptate excepturi, voluptatem asperiores soluta magni, deserunt eos qui. Totam incidunt nam odit fuga.</p>
</MainLayout>
